<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="dashboard" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" offset-xl="3">
        <ion-list>
          <ion-item lines="full" detail button (click)="onSupport()">
            <ion-icon name="build" slot="start" color="tertiary"></ion-icon>
            <ion-label>Customer Support</ion-label>
          </ion-item>
          <ion-item lines="full" detail button>
            <ion-icon name="document-lock" slot="start" color="tertiary"></ion-icon>
            <ion-label>Privacy Policy</ion-label>
          </ion-item>
          <ion-item lines="full" detail button>
            <ion-icon name="reader" slot="start" color="tertiary"></ion-icon>
            <ion-label>Terms & Conditions</ion-label>
          </ion-item>
          <ion-item lines="full" detail button (click)="onLogout()">
            <ion-icon name="exit" slot="start" color="tertiary"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
