<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="dashboard" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" offset-xl="3">
        <form [formGroup]="profileForm" (ngSubmit)="update()">
          <ion-list>
            <ion-item class="input ion-margin-bottom" lines="none">
              <ion-input formControlName="name" placeholder="Name" type="text"></ion-input>
            </ion-item>
            <ion-item class="input ion-margin-bottom" lines="none">
              <ion-input formControlName="mobile" placeholder="Mobile" type="tel"></ion-input>
            </ion-item>
            <ion-item class="input ion-margin-bottom" lines="none">
              <ion-textarea rows="4" formControlName="address" placeholder="Address" type="text"></ion-textarea>
            </ion-item>
            <ion-item class="input ion-margin-bottom" lines="none">
              <ion-input formControlName="aadhaar" placeholder="Aadhaar Number" type="tel" readonly="true"></ion-input>
            </ion-item>
            <ion-item class="input ion-margin-bottom" lines="none">
              <ion-input formControlName="pan" placeholder="Pan Card Number" type="tel" readonly="true"></ion-input>
            </ion-item>
          </ion-list>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button [disabled]="!profileForm.valid" type="submit" expand="block">Update</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
