.image-box {
  border: 1px solid var(--ion-color-tertiary);
  border-radius: 3px;
  width: 95%;
  height: 100%;
  text-align: center;
  // padding-bottom: 3%;
  ion-icon {
    font-size: xx-large;
  }
}
